
    .slideshow-container1
    {
        display: flex;
        /* width: 100%; */
        width: 68%;
        overflow: scroll;
        margin: auto;
        /* border: 2px solid blue; */
    }
    .mySlides{
        width:27%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
            box-shadow: 0 17.2866px 17.2866px rgb(0 0 0 / 10%);
        justify-content: space-between;
            border-radius: 20.7px;
        margin-right: 30px;
        /* align-items: stretch; */
        /* gap:40px */
    }
    .mySlides>img{
        border-radius: 15px;
    }
    .rating{
        padding-left: 15px;
        margin-top: 10px;
    }
   .material-icons.size_start{
        font-size: 20px;
        color: #e4ae2c;
        /* margin-top: 10px; */
        /* margin-left: 10px; */
        /* padding-left: 10px;   */
    }
    .mySlides>p,.price_div{
        margin-left: 15px;
        margin-right: 10px;
    }
    .mySlides> .brand_name{
        font-size: 20px;
        margin-bottom: 5px;
      
    }
    .price_div{
        display: flex;
        justify-content: flex-start;
        gap:10px
        
    }
     .price_div sup{
         font-size:16px;
         font-weight: normal;
         
     }
    .price_div>p:nth-child(1){
        margin-top: 5px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 5px;
       
    }
     .price_div>p:nth-child(2){
        margin-top: 12px;
        font-size: 19px;
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;  
        margin-bottom: 5px;
    }
    .description{
        margin-top: 5px;
        font-size: 16px;
    }
    .description span{
        color:#66509a;
        font-weight: bold;
        margin-right: 5px;
    }
.mySlides>button{
    background-color: rgb(102, 80, 154);
    font-size: 20px;
    color: white;
        border-radius: 0 0 12px 12px;
        border: transparent;
        padding: 8px 0px 8px 0px;
}
.mySlides>button:hover{
    cursor: pointer;
    background-color: rgb(121, 109, 147);
}

